useDynLib(stablemarriageR, .registration=TRUE)
exportPattern("^[[:alpha:]]+")
importFrom(Rcpp, evalCpp)
import(assertive)
export(randomise_preferences)
export(read_pref)
export(stablemarriage)
exportClasses(stablemarriageclass)
exportMethods(show)
